[submodule ".config/awesome/ranger_devicons"]
	path = .config/awesome/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/Nooo37/bling
[submodule ".config/awesome/collision"]
	path = .config/awesome/collision
	url = https://github.com/Elv13/collision
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons

