{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# Verifica se yay está instalado
if ! command -v yay &> /dev/null; then
    echo "yay não está instalado. Instale o yay antes de executar este script."
    exit 1
fi

# Instala pacotes com yay
yay -S zsh ghostty pyenv nvm starship zsh-autosuggestions zsh-syntax-highlighting inetutils eza
{{ else if eq .chezmoi.os "windows" -}}
# Verifica se o script está sendo executado como administrador
#if (-not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] "Administrator")) {
#    Write-Host "Este script precisa ser executado como administrador." -ForegroundColor Red
#    exit 1
#}

# Instala módulos do PowerShell
Install-Module PSReadLine -AllowPrerelease -Force
Install-Module -Name Terminal-Icons -Repository PSGallery -Force
Install-Module -Name z -Force

# Verifica se Scoop está instalado
if (-not (Get-Command scoop -ErrorAction SilentlyContinue)) {
    Write-Host "Scoop não está instalado. Instale o Scoop antes de continuar." -ForegroundColor Red
    exit 1
}

# Instala pacotes com Scoop
scoop install starship
{{ end -}}