[Desktop Entry]
Name=Notion
Exec=/opt/Notion/notion-app %U
Terminal=false
Type=Application
Icon=notion
StartupWMClass=Notion
StartupNotify=true
Comment=The all-in-one workspace for your notes and tasks
MimeType=x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;
Categories=Office;Utility;
